
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');


@import 'tailwindcss';


@theme{
    --font-main:"Manrope",sans-serif;
    --font-secondary:"Sora", sans-serif;

    --color-main-bg:#fafbfc;
    --color-foreground:#0f172a;
    --color-secondary-text:#64748b;
    --color-icon-schedule:#3b82f6;
    --color-icon-available:#10b981;
    --color-muted-border:#e2e8f0;
}